body {
	background-color: white;
	color: #6F6F6F;
	font-family: ’Verdana’, ’Helvetica’, ’Sans-serif’, ’sans’;
	font-size: 15pt;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	text-align: center;
	background-repeat: repeat-x;
}

h1,h2,h3,h4 {
	color: #E9601A;
}

h1,h2 {
	letter-spacing: -1px;
	font-family: 'Trebuchet MS';
}

.feedbackPanelERROR {
	color: red;
	list-style: circle;
	font-weight: bold;
}

.feedbackPanelINFO {
	color: green;
	list-style: circle;
	font-weight: bold;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
}

a {
	color: #E9601A;
	font-weight: bold;
	text-decoration: underline;
}

th {
	background: #C3C3C3;
	color: white;
	font-weight: bold;
	text-align: left;
}

tr.b {
	background: #F5F5F5;
}

tr.a {
	background: #E6E6E5;
}

#feedbackPanel {
	width: 600px;
}

.resultSecction {
	border-collapse: collapse;
	text-align: center;
}

table.dataview {
	margin-bottom: 10px;
	border-bottom: 1px solid #0079d6;
	font-size: 1em;
	font-family: arial;
}

table.dataview caption {
	text-align: left;
}

table.dataview tr {
	padding-top: 2px;
	padding-bottom: 2px;
}

table.dataview tr.even {
	background-color: #ffebcd;
}

table.dataview tr.odd {
	background-color: #fff;
}

table.dataview tr td {
	padding-left: 8px;
	padding-right: 30px;
}

table.dataview tr th {
	color: black;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 30px;
	background-color: #c1e4ff;
	border-bottom: 1px solid #0079d6;
	border-top: 1px solid #0079d6;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
}

table.dataview tr th {
	background-position: right;
	background-repeat: no-repeat;
}

table.dataview tr th.wicket_orderDown {
	background-color: #87cbff;
}

table.dataview tr th.wicket_orderUp {
	background-color: #87cbff;
}

table.dataview tr th a {
	font-weight: normal;
}

table.dataview #message {
	padding-left: 3px;
}

table.dataview caption {
	padding-bottom: 2px;
}