body {
	background-color: white;
	color: #6F6F6F;
	font-family: ’Verdana’, ’Helvetica’, ’Sans-serif’, ’sans’;
	font-size: 15pt;
	padding: 10px 10px 10px 10px; 
	margin: 10px 10px 10px 10px;
	text-align: center;
}

h1,h2,h3,h4 { 
	color: #E9601A;
}

h2 {
	font-size: 1.25em;
}

a {
	color: #6F6F6F; 
	text-decoration: underline;
}

th {
	background: #C3C3C3; 
	color: white;
	font-weight: bold;
	text-align: left;
}

.resultSecction{
	border-collapse:collapse;
	text-align:center;
}
